{% extends "base.html" %}
{% block head %}
<title>Bancos</title>
<style>
    #list-dispatchs {
        margin-top: 50px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dispatch_list' %}">Relatórios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Deletar <strong>{{ object.name }}</strong> </li>
        </ol>
    </nav>
    <div id="list-dispatchs">
        <h4>Tem certeza de que deseja excluir "{{ object.internal_code }}"?</h4>
        <p>Essa ação não pode ser desfeita !</p>
        <form method="post">{% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button> <a href="{% url 'dispatch_list' %}"
                class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}