{% extends "base.html" %}
{% block head %}
<title>Criação de Usuário</title>
<style>
    #list-banks {
        margin-top: 50px;
        max-width: 400px;
    }
    label{
        min-width: 100px;
        margin: 5px;
    }
    #btn-div{
        text-align: center;
    }
    input{
        max-width: 170px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'user_list' %}">Usuários</a></li>
            <li class="breadcrumb-item active" aria-current="page">Novo Usuário</li>
        </ol>
    </nav>
    <div id="list-banks">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div class="row mt-2">
                <div class="col"><label for="">Usuário</label></div>
                <div class="col">{{ form.username }}</div>
            </div>
             <div class="row mt-2">
                <div class="col"><label for="">Nome</label></div>
                <div class="col">{{ form.first_name }}</div>
             </div>
             <div class="row mt-2">
                <div class="col"><label for="">Senha</label></div>
                <div class="col">{{ form.password }}</div>
             </div>
             <div class="row mt-2">
                <div class="col"><label for="">Email</label></div>
                <div class="col">{{ form.email }}</div>
             </div>
             <div class="row mt-2">
                <div class="col"><label for="">Empresa</label></div>
                <div class="col">{{ form.company }}</div>
             </div>
             <div class="row mt-2">
                <div class="col"><label for="">Sala</label></div>
                <div class="col">{{ form.room }}</div>
             </div>
             <div class="row mt-2">
                <div class="col"><label for="">Função</label></div>
                <div class="col">{{ form.role }}</div>
             </div>             
             <div class="row mt-2">
                <div class="col"><label for="">Usuário Ativo</label></div>
                <div class="col">{{ form.is_active }}</div>
             </div>             
             <div class="row mt-2">
                <div class="col"><label for="">Grupo de Permissões</label></div>
                <div class="col">{{ form.groups }}</div>
             </div>
            <div id="btn-div" class="mt-2">
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}