{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Simulações</title>
{% endblock %}
{% block content %}
<div class="row ms-5">
    <div class="col-2">
        <a href="{% url 'simulations' %}" class="btn btn-primary btn-sm"><i class="bi bi-caret-left"></i> Voltar</a>
    </div>
</div>
<div id="simulation-div" class="container">
    <div id="toast-div" class="toast-container position-fixed top-0 end-0 p-3">
    </div>
    <div id="spinner-overlay" class="d-none">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="border rounded-2 p-3">
        <div class="row">
            <div class="col-2 text-end"><label for="internal_code">Simulação</label></div>
            <div class="col-2"><input type="text" id="internal_code" class="form-control form-control-sm" disabled value="{{ object.internal_code }}"></div>
            <div class="col-2 text-end"><label for="user">Usuário Solicitante</label></div>
            <div class="col-2"><input type="text" id="user" class="form-control form-control-sm" disabled value="{{ object.user }}"></div>
            <div class="col-2 text-end"><label for="date">Data</label></div>
            <div class="col-2"><input type="text" id="date" class="form-control form-control-sm" disabled value="{{ object.date|date:'d/m/Y' }}"></div>
        </div>
        <div class="row mt-2">
            <div class="col-2 text-end">CPF</div>
            <div class="col-2"><input type="text" id="cpf" class="form-control form-control-sm" disabled value="{{ object.cpf }}"></div>
            <div class="col-2 text-end"><label for="internal_code">Status</label></div>
            <div class="col-2">
                <select name="status" disabled class="form-select form-select-sm" id="status">
                    <option value="{{ object.status }}">{{ object.get_status_display }}</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2 text-end"><label for="obs">Observações</label></div>
            <div class="col-6">
                <textarea name="obs" disabled class="form-control form-control-sm" id="obs">
                    {% if object.observation %}
                        {{ object.observation }}
                    {% else %}
                    {% endif %}
                </textarea>
            </div>
        </div>
    </div>

    <div class="border rounded-2 m-2 p-3">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Operação</th>
                    <th>Banco Digitação</th>
                    <th>Parcela</th>
                    <th>Troco</th>
                    <th>Prazo</th>
                    <th>Banco Origem</th>
                    <th>Parcelas Pagas</th>
                    <th>Prazo Original</th>
                    <th>Contrato</th>
                    <th>Saldo Devedor</th>
                </tr>
            </thead>
            <tbody>
                {% for install in object.installment.all %}
                <tr>
                    <td>{{ install.operation }}</td>
                    <td>{{ install.bank_destiny }}</td>
                    <td>{{ install.installment }}</td>
                    <td class="change">{{ install.exchange }}</td>
                    <td>{{ install.term }}</td>
                    <td>{{ install.original_bank }}</td>
                    <td>{{ install.term_paids }}</td>
                    <td>{{ install.term_original }}</td>
                    <td>{{ install.contract }}</td>
                    <td>{{ install.ballance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row d-flex justify-content-end">
            <div class="col-2 text-end">
                <label for="total_exchange">Troco Total:</label>
            </div>
            <div class="col-2">
                <input type="text" id="total_exchange" class="form-control form-control-sm" disabled>
            </div>
        </div>
    </div>
</div>
<script>
    let change = 0; 
    let changesElements = document.getElementsByClassName("change");

    Array.from(changesElements).forEach(element => {
        change += parseFloat(element.innerText);
    });

    document.getElementById("total_exchange").value = change.toFixed(2);
</script>

<script>
    function imprimirDiv() {
        let div = document.getElementById("simulation-div");
        let janelaImpressao = window.open('', '', 'width=600,height=600');
        janelaImpressao.document.write('<html><head><title>Impressão</title></head><body>');
        janelaImpressao.document.write(div.outerHTML);
        janelaImpressao.document.write('</body></html>');
        janelaImpressao.document.close();
        janelaImpressao.print();
    }
</script>
{% endblock %}