{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Listagem Geral de Propostas</title>
<style>
    #list-banks {
        margin-top: 50px;
    }

    .bi-trash {
        color: red;
        cursor: pointer;
    }

    .list-group {
        margin-top: 5px;
    }

    .list-group-modal {
        min-width: 400px;
    }
    #table-body{
        font-size: 0.85rem;
        font-weight: 500;
    }
    .card-history{
        font-size: 0.85rem;
        font-weight: 500;
    }
    #proposal-detail-link{
        text-decoration: none;
        color: inherit;
    }

</style>
{% endblock %}
{% block content %}
<div class="m-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Propostas</li>
        </ol>
    </nav>
    <div id="list-banks">

        <form method="GET" action="{% url 'proposals_operacional_list' %}" class="row">
            <div class="col-sm">
                <label for="search_type">Buscar Por:</label>
                <select class="form-control-sm" name="search_type" id="search_type">
                    <option value="cpf" {% if request.GET.search_type == "cpf" %}selected{% endif %}>CPF</option>
                    <option value="name" {% if request.GET.search_type == "name" %}selected{% endif %}>Nome</option>
                    <option value="internal_code" {% if request.GET.search_type == "internal_code" %}selected{% endif %}>Código Interno</option>
                    <option value="bank" {% if request.GET.search_type == "bank" %}selected{% endif %}>Banco</option>
                    <option value="operation" {% if request.GET.search_type == "operation" %}selected{% endif %}>Operação</option>
                    <option value="user" {% if request.GET.search_type == "user" %}selected{% endif %}>Usuário</option>
                    <option value="username" {% if request.GET.search_type == "username" %}selected{% endif %}>Nome do Usuário</option>
                    <option value="celphone" {% if request.GET.search_type == "celphone" %}selected{% endif %}>Celular</option>
                    <option value="rep_cpf" {% if request.GET.search_type == "rep_cpf" %}selected{% endif %}>CPF do Representante</option>
                    <option value="rep_name" {% if request.GET.search_type == "rep_name" %}selected{% endif %}>Nome do Representante</option>
                    <option value="ade" {% if request.GET.search_type == "ade" %}selected{% endif %}>ADE Banco</option>
                </select>
                <input class="form-control-sm" type="text" name="search_value" id="search_value" value="{{ request.GET.search_value }}">
                <button class="btn btn-sm btn-secondary" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <hr>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Código Interno</th>
                    <th>Usuário</th>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Operação</th>
                    <th>Parcela</th>
                    <th>Banco</th>
                    <th>ADE</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for proposal in proposals %}
                    <tr>
                        <td>{{ proposal.internal_code }}</td>
                        <td>{{ proposal.user.username }} - {{ proposal.user.first_name }}</td>
                        <td class="cpfs">{{ proposal.cpf }}</td>
                        <td>{{ proposal.name }}</td>
                        <td>{{ proposal.table.operation }}</td>
                        <td>{{ proposal.installment|floatformat:2 }}</td>
                        <td>{{ proposal.table.bank }}</td>
                        <td>
                            {% if proposal.ade %}
                                {{ proposal.ade }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ proposal.get_status_display }}</td>
                        <td>
                            <button class="btn btn-sm btn-warning" data-bs-toggle="modal" title="Histórico" data-bs-target="#historicModal" onclick="getHistory('{{ proposal.id }}')">
                                <i class="bi bi-clock-history"></i>
                            </button>
                            {% if proposal.status == '13' %}
                            <button disabled class="btn btn-secondary btn-sm">
                                <i class="bi bi-gear-fill" title="Status não permite alteração"></i>
                            </button>
                            {% else %}
                            <button class="btn btn-success btn-sm" title="Status" data-proposal-id="{{ proposal.id }}" data-user="{{ user.id }}" data-bs-toggle="modal" data-bs-target="#atuaOperacional">
                                <i class="bi bi-gear-fill"></i>
                            </button>
                            {% endif %}
                            <a id="proposal-detail-link" target="_blank" title="Detalhes" href="{% url 'proposal_detail' pk=proposal.pk %}">
                                <button class="btn btn-sm btn-secondary">
                                    <i class="bi bi-file-text"></i>
                                </button>
                            </a>
                            <a id="proposal-detail-link" target="_blank" title="Detalhes" href="{% url 'proposal_update' pk=proposal.pk %}">
                                <button class="btn btn-sm btn-success">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Pagination -->
<div class="container">
    <div class="row justify-content-end">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true"><i class="bi bi-rewind"></i></span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true"><i class="bi bi-caret-left"></i></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="First">
                                <span aria-hidden="true"><i class="bi bi-rewind"></i></span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true"><i class="bi bi-caret-left"></i></span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item disabled">
                        <a class="page-link">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </a>
                    </li>
                    
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true"><i class="bi bi-caret-right"></i></span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true"><i class="bi bi-fast-forward"></i></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true"><i class="bi bi-caret-right"></i></span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Last">
                                <span aria-hidden="true"><i class="bi bi-fast-forward"></i></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="historicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Histórico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="historic-div">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="atuaOperacional" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <input type="hidden" id="proposalIdAtuaOp"></input>
                <input type="hidden" id="currentUserAtuaOp"></input>
                <strong class="modal-title">Ações</strong>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="status-div-atua-op">
                    <div class="form-check">
                        <div class="row">
                            <div class="col-2"><label class="form-check-label" for="atua-op-status">Status</label></div>
                            <div class="col">
                                <select class="form-select form-select-sm" name="atua-op-status" id="atua-op-status">
                                    <option value="1">Aberto</option>
                                    <option value="2">Aguardando Digitação</option>
                                    <option value="3">Pendente Pré-digitação</option>
                                    <option value="4">Pendente Formalização</option>
                                    <option value="5">Aguardando Averbação</option>
                                    <option value="6">Aguardando retorno CIP</option>
                                    <option value="7">Pendente envio CIP</option>
                                    <option value="8">Saldo Informado Aguardando Pagamento</option>
                                    <option value="9">Aguardando Atuação Operacional</option>
                                    <option value="10">Pendente CIP</option>
                                    <option value="11">Pago</option>
                                    <option value="12">Pagamento Devolvido</option>
                                    <option value="13">Comissão Processada</option>
                                    <option value="14">Cancelado</option>
                                    <option value="15">Cancelamento Solicitado Pelo Parceiro</option>
                                    <option value="16">Clonado</option>
                                    <option value="17">Aguardando Portabilidade</option>
                                    <option value="18">Pendente</option>
                                    <option value="19">Andamento</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <textarea id="obs-input-atua-op" type="text" class="form-control form-control-sm mt-2" placeholder="Observação..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" data-bs-toggle="modal" data-bs-target="#formModal" class="btn btn-sm btn-success" onclick="changeStatusOperacional()">Enviar</button>
            </div>
        </div>
    </div>

    <div id="toast-div" class="toast-container position-fixed top-0 end-0 p-3">
    </div>
</div>


<script src="{% static 'js/proposal_list.js' %}"></script>
<script src="{% static 'js/proposal_operacional_list.js' %}"></script>
{% endblock %}